[2019-12-03 05:41] kotarella1110 opened #14 "TypeScript type definition are not fully accurate"
little-state-machine type are not fully accurate as follows:

<img width="400" src="https://user-images.githubusercontent.com/12913947/70023111-bbbc7c80-15d9-11ea-8ff4-e2528e4fb022.png">
<img width="400" alt="スクリーンショット 2019-12-03 14 05 22" src="https://user-images.githubusercontent.com/12913947/70024574-e577a280-15dd-11ea-839a-ab16e4c50e2d.png">

I think we need to improve DX as follows:

<img wid

[2019-12-03 07:21] svict4 opened #15 "[Question] use with externalStore and get new state immediatley"
I'm building a `react-hook-form` wizard and am trying to use the syncStores function.
When submitting a form to go to the next page, the entire state disappears, even if I'm just returning the existing sessionStorage.
Am I doing it right?

https://codesandbox.io/s/github/svict4/RHF-LSM-with-RR

It's probably because I don't know how to use the library properly, does anyone have a more concrete exa

[2019-12-03 07:34] bluebill1049 commented on #15
hey @svict4 why are you using `syncStores`? are you sync external stores?

[2019-12-04 00:03] svict4 commented on #15
Heya I'm syncing to an external API (think Firebase/MongoDB store).
(for now I'm just mocking it with below)

[code]

I'm submitting it to the API every time the store edited. So does this mean I have to connect it in `middlewares`?

Let's say I'm going to a step in the wizard which has existing data. What hook do I need to call to populate/merge my store? Do I populate `sessionStorage` directly a

[2019-12-04 00:11] bluebill1049 commented on #15
hey @svict4 sync external store only happen once, which is when you app landed. for each action you may need to use `middleware`. I haven't fully use `middleware` in our project at work just yet. feel free to try it and let me know if there is issue around it, i will try to patch it ASAP.

[2019-12-04 00:12] bluebill1049 commented on #15
you should be able to use `reset()` or `reset({})`.

[2019-12-04 00:19] svict4 commented on #15
Ah okay, I thought it was each time.
I'll give it a try. If I have success, I'll create a template/demo project for others to use.

[2019-12-04 00:19] #15 closed

[2019-12-04 00:28] bluebill1049 commented on #15
yea if each time invoke would be too expensive for your app to run. but let me know how did you go with the middleware.

[2019-12-04 01:30] bluebill1049 commented on #14
you want to supply a codesandbox for this issue @kotarella1110 ?

[2019-12-04 01:51] svict4 commented on #15
Hmm looks the state gets deleted when you hook up a middleWares

[code]
where my action is simply
[code]

Debug shows that the state gets updated with the correct action name and `window.STATE_MACHINE_GET_STORE` returns the JSON correctly.

[2019-12-04 02:07] svict4 commented on #15
![LSM-middlewares](https://user-images.githubusercontent.com/1137112/70106094-79a14280-168e-11ea-9735-792ac01073a3.gif)
@bluebill1049 any clues why the store disappears/devtools doesn't show the store?

[2019-12-04 02:22] bluebill1049 commented on #15
can you share some of your code?

[2019-12-04 02:22] bluebill1049 commented on #15
and your action?

[2019-12-04 02:59] kotarella1110 commented on #14
@bluebill1049 codesandbox is [here](https://codesandbox.io/s/little-state-machine-type-definition-are-not-fully-accurate-sgcwe?fontsize=14&hidenavigation=1&theme=dark)!

[2019-12-07 23:30] schrapel opened #16 "Using with node"
Hey, Thanks for the great package. I am trying to use this with Next.js but I get the following error when SSR is happening. Would you consider adding support for isomorphic apps in the future.

[code]

[2019-12-07 23:45] bluebill1049 commented on #16
hey @schrapel i will patch that soon 👍

[2019-12-08 07:23] bluebill1049 commented on #14
[code]

in terms of actions, I have just removed those errors.

it's kinda too complicated if you need to declare `Actions` types.
const { state } = useStateMachine<State, Actions>();

[2019-12-08 07:24] #14 closed

[2019-12-10 03:18] bluebill1049 commented on #16
hey @schrapel can you give me a screenshot of the line which cause this issue?

[2019-12-10 03:18] bluebill1049 commented on #16
a codesandbox with SSR will be even nicer.

[2019-12-12 16:46] schrapel commented on #16
Sorry for the late reply. I will try get that to you in a couple of days. I am a little busy with other things

[2019-12-12 20:25] bluebill1049 commented on #16
screenshot of the actual code line would be great

[2019-12-12 20:49] schrapel commented on #16
![Screenshot 2019-12-12 at 15 47 52](https://user-images.githubusercontent.com/3613405/70747848-d8059b00-1cf6-11ea-9b10-1aec0533f3b1.png)

Although I guess the error makes sense as it's trying to use local storage. It would be nice if it would wait until the client renders to trigger.

[2019-12-12 20:51] bluebill1049 commented on #16
yea I will try it out with a next.js app this weekend. thanks for the screenshot

[2019-12-17 03:47] bluebill1049 commented on #16
FYI: i haven't forget about it. I am working on RHF next major version. so i am bit busy i will come back to it tho.

[2019-12-18 12:46] schrapel commented on #16
There is no sense of urgency from me. I appreciate your update

[2019-12-30 01:01] #16 closed

[2020-01-03 01:56] svict4 commented on #15
Hey @bluebill1049 just circling back to this.
If we use the basic example of console logging the store as a middleware (as given in the docs)
https://codesandbox.io/s/little-state-machine-demo-zc30h

Are our functions meant to be returning back the `globalState`? The callback https://github.com/bluebill1049/little-state-machine/blob/master/src/stateMachine.tsx#L130 is returning `undefined` back to

[2020-01-03 02:01] bluebill1049 commented on #15
hey @svict4 that's the part that i want to fix (currently at my work we have similar issue) we shouldn't have to return `GlobaState`,  but right now you have to... until i fix it. you can report an issue on it, i will sort it out over the weekend 👍

[2020-01-06 00:47] svict4 opened #19 "[Bug] middleWares option expects state"
`CreateStore`'s `middleWares` option expects `globalState` to be returned, or undefined will be returned to the [`updateStore` function](https://github.com/bluebill1049/little-state-machine/blob/master/src/stateMachine.tsx#L130) and will error.
https://codesandbox.io/s/little-state-machine-demo-zc30h

Thus, the super simple example in the readme does not work.

Expected: if nothing is returned fro

[2020-01-06 00:49] bluebill1049 commented on #19
Thanks buddy :) I will take a look this one soon.

[2020-01-06 04:58] #19 closed

[2020-01-13 03:30] KevinKelbie opened #20 "How do you delete an item from the store?"

[2020-01-13 03:38] bluebill1049 commented on #20
hey @KevinKelbie can you give more detail on the question (codesandbox)? or consider asking question at our spectrum channel.

[2020-01-13 03:42] bluebill1049 commented on #20
it's all JS function and return values :)

[2020-01-13 03:46] KevinKelbie commented on #20
thanks, I ended up coming up with a solution which seems to work fine but maybe your solution is better.

[code]

[2020-01-13 03:46] #20 closed

[2020-02-18 17:19] enormousrodent opened #23 "Enable React-Native support"
When trying to use your awesome state machine in my React native app i get the error:

Can't find variable: document.

I assume this is the DEV tools causing this problem.  Any clues you can give me or timeline for implementation would be awesome

Thanks

[2020-02-18 20:56] bluebill1049 commented on #23
Will fix it over the weekend, should be easier fix :)

[2020-02-18 22:15] enormousrodent commented on #23
Thanks @bluebill1049  - I think its the development tool that is causing the issue!

[2020-02-18 22:31] DarkSouls101 commented on #23
Don’t use the developer tool for RN is not supported :)

Cheers
Bill

[2020-02-18 22:46] enormousrodent commented on #23
I didn't even install it and the error happened.  The error was just after doing the import into a file.

[2020-02-23 08:35] bluebill1049 commented on #23
hey @enormousrodent are you sure it's not caused by importing DevTool, because the code is only live in dev tool. can you send a screenshot of the error and how you import the lib?

[2020-02-23 08:35] bluebill1049 commented on #23
<img width="851" alt="Screen Shot 2020-02-23 at 7 35 19 pm" src="https://user-images.githubusercontent.com/10513364/75106742-a8b6c700-5673-11ea-9a10-c1b52309eab8.png">

[2020-03-17 04:41] LucidNinja commented on #23
Hey @bluebill1049 - I'm having this same issue! I didn't realise this was your repo too! I am trying to implement your [example](https://codesandbox.io/s/form-wizard-pages-kkg7m) in React Native. Has there been an update for this?

[2020-03-17 04:42] LucidNinja commented on #23
<img width="393" alt="Screen Shot 2020-03-17 at 3 12 34 pm" src="https://user-images.githubusercontent.com/29149363/76822690-bd950d80-6861-11ea-9b78-d482b8ca3d23.png">

[2020-03-17 04:43] bluebill1049 commented on #23
hmmm strange i will test it out tonight as well. should be a simple fix.

[2020-03-17 04:43] LucidNinja commented on #23
@enormousrodent did you find a fix or workaround?

[2020-03-17 04:45] bluebill1049 commented on #23
@LucidNinja is anyway you can step into which line cause this issue?

[2020-03-17 04:54] bluebill1049 commented on #23
not a bug :) just dont import the DevTool

`import { StateMachineProvider, createStore } from 'little-state-machine'`

[2020-03-17 04:56] LucidNinja commented on #23
Sorry I'm trying to debug, so I haven't found the line causing the issue - I'm not importing DevTool anywhere that I can see? I literally just pasted your code `import { StateMachineProvider, createStore } from 'little-state-machine'` into my file and I get the error?

[2020-03-17 04:57] LucidNinja commented on #23
Where would I be importing DevTool?

[2020-03-17 04:58] LucidNinja commented on #23
Does your stateMachine.tsx not import devtools https://github.com/bluebill1049/little-state-machine/blob/master/src/stateMachine.tsx ? Sorry I'm not heaps familiar with tsx.

[2020-03-17 05:01] bluebill1049 commented on #23
i just did a build myself and it's working without the DevTool.

[2020-03-17 05:02] LucidNinja commented on #23
Ok great! Is there documentation on how to do that? Sorry I'm on a collaborative project - how do I disable the DevTool? Is it a manual import somewhere?

[2020-03-17 05:02] LucidNinja commented on #23
I did a search through the app folder and couldn't see DevTool anywhere?

[2020-03-17 05:03] bluebill1049 commented on #23
oh shit it is breaking the app...

[2020-03-17 05:03] bluebill1049 commented on #23
let me take a look tonight.

[2020-03-17 05:03] LucidNinja commented on #23
No worries mate! Thank you! I thought I was going insane haha

[2020-03-17 06:29] #23 closed

[2020-03-17 08:19] LucidNinja commented on #23
Hey @bluebill1049  -  can you confirm is this has propagated to NPM, and if so, what version it is? I'm still having issues, but could be because of a version issue.

[2020-03-17 08:24] bluebill1049 commented on #23
hey @LucidNinja 2.12.0?

[2020-03-17 08:25] LucidNinja commented on #23
<img width="364" alt="Screen Shot 2020-03-17 at 6 54 20 pm" src="https://user-images.githubusercontent.com/29149363/76836420-b7625980-6880-11ea-81ef-ca443f8c61a6.png">
I'm using v 2.12.0 and now receiving this error.

`undefined is not an object (evaluating 'storageTyle.getItem')`

[2020-03-17 08:26] bluebill1049 commented on #23
![Screen Shot 2020-03-17 at 7 25 44 pm](https://user-images.githubusercontent.com/10513364/76836556-1f1aa380-6885-11ea-8143-fa9bfb3c730d.png)

Take a look release note: https://github.com/bluebill1049/little-state-machine/releases/tag/v2.12.0

react native doesn't have sessionStorage, use `AsyncStorage`

[2020-03-17 08:29] LucidNinja commented on #23
BEAUTIFUL! Works perfectly. You're amazing. Thanks so much!

[2020-03-30 19:01] devoNOTbevo opened #28 "Way to turn off storage by default"
I was using `little-state-machine` with `react-hook-form` and had some conditional state that I didn't want lsm to remember on load.

The only way I found to implement this was something like this:

[code]

I actually really like this package a lot and would be happy submitting a PR for what I'm thinking, unless I'm not on the right track.

[2020-03-30 22:15] bluebill1049 commented on #28
hey @devoNOTbevo thanks for the support :) keep it simple. Maybe we should create a folder for examples and doing it just like RHF (code + CSB)? your thoughts?

[2020-03-31 14:51] devoNOTbevo commented on #28
@bluebill1049  yes, I think that could be helpful.  I liked that about RHF actually - great job on that site.  One question - is it possible to prevent LSM from storing at all?  This is developer's responsibility, but I am concerned about instances where user has not given consent to storage, when it's necessary.

In my example, LSM is still storing the data, I'm just not using all of it.

[2020-03-31 21:52] bluebill1049 commented on #28
oh you probably can use `setStorageType` and give it an object with session storage alike API.

call `setStorageType({ setItme: () => {}, ...})` before `createStore`

[2020-04-01 20:32] devoNOTbevo commented on #28
@bluebill1049  I will give that a try on a current project and report back.  These might can be examples to give also, like you suggested.

[2020-04-01 21:01] bluebill1049 commented on #28
if i have some extra time, i will do a codesandbox for you @devoNOTbevo :)

[2020-04-07 19:22] devoNOTbevo opened #30 "Exported type for action expects store."
The type that is exported from useStateMachine is `Action`

[code]

which reflects this type:

[code]

which means that when you use the function `action` or functions from the `actions` object, it expects both parameters.

#### Proposal

change return types to `UpdateStoreFunction`:
[code]

in order to reflect usage per documentation.

[2020-04-07 19:24] devoNOTbevo commented on #30
Just saw [this issue that is similar](https://github.com/bluebill1049/little-state-machine/issues/14#issuecomment-562920164) - were these not implemented?

[2020-04-07 22:19] bluebill1049 commented on #30
Yeah to be honest, i didn't give too much love on the Type with this lib. I will come to it.

[2020-04-08 15:16] devoNOTbevo commented on #30
@bluebill1049 don't worry - and I have a few other items I may address as well.  Not intended to be a burden: anything I bring up, I try to bring a solution for and can submit PR if you're open to it.

[2020-04-08 16:47] devoNOTbevo opened #31 "Middlewares all call same data object - would like it to act as a pipe."
#### Problem
I expected the middlewares to behave like a pipe like with other libraries.  Documentation didn't specify that, but I think it's typically more intuitive than the current implementation.  Currently:

[code]

#### Proposal
[code]

[2020-04-08 22:17] bluebill1049 commented on #30
oh yeah @devoNOTbevo 100%. thanks ❤️

[2020-04-08 22:18] bluebill1049 commented on #31
love it! let's go with that. feel free to send a PR.

[2020-04-14 11:49] rothnic opened #32 "Unexpected Reset Behavior"
This might be a misunderstanding on my part, but this at least seems unexpected. I can't seem to get a working example where I reset the state of the form to where it started without refreshing the page manually.

I tried both calling the `window.STATE_MACHINE_RESET` and creating a reset function that sets the state back to what the app started with. Neither of these seem to trigger the app to rel

[2020-04-14 12:09] bluebill1049 commented on #32
Yea the reset will need a restart, honestly, i haven't spent too much time with the dev tool.

[2020-04-14 12:15] rothnic commented on #32
I wasn't really worried about the devtool, but was worth mentioning. If you look at the modified demo though, should setting the state back to the original not cause the app to re render? Instead of using `window.STATE_MACHINE_RESET`, I'm actually updating the state. The console debug output shows that the state has been changed, but the app doesn't update.

[2020-04-14 12:38] bluebill1049 commented on #32
That's due to RHF is uncontrolled and you need to use its reset function: https://codesandbox.io/s/little-state-machine-demo-rkb2q?file=/src/form.js

[2020-04-14 16:17] rothnic commented on #32
Thanks a bunch. I hadn't come across the reset topic in RHF. That was what I needed.

[2020-04-14 16:17] #32 closed

[2020-04-23 10:07] #31 closed

[2020-04-23 10:07] bluebill1049 commented on #30
actually all those action only return `void`

[2020-04-23 10:08] #30 closed

[2020-04-23 23:45] devoNOTbevo opened #35 "TypeError `state is undefined`"
I've tried to investigate using the transpiled code, but even the code sandbox is broken for `react-hook-form`.  Hoping to see what the issue was, but have to move forward on a project.

https://codesandbox.io/s/form-wizard-pages-kkg7m

I also saw that this `useContext` is where it's using the state:

<img width="607" alt="image" src="https://user-images.githubusercontent.com/15235244/80160324-fa5

[2020-04-23 23:58] bluebill1049 commented on #35
I will look into this.

[2020-04-23 23:58] bluebill1049 commented on #35
hmmm something is broken.

[2020-04-24 00:01] bluebill1049 commented on #35
looks like it's the latest version break the lib.

[2020-04-24 00:17] bluebill1049 commented on #35
fixed and published.

[2020-04-24 00:17] #35 closed

[2020-04-24 14:35] devoNOTbevo commented on #28
I was able to by setting both `getItem` and `setItem`:

[code]

[2020-04-28 01:02] ururk opened #36 "Still includes react-json-view when not using DevTools"
I've noticed, even when building without `<DevTools />`, `react-json-view` is still bundled in the application. Perhaps this is intentional, but seems unnecessary. When bundled it takes up about 149KB uncompressed.

[2020-04-28 01:07] bluebill1049 commented on #36
hey @ururk what's the bundle tool that you are using? definitely not intentional.

[2020-04-28 01:09] ururk commented on #36
create-react-app - not ejected

[2020-04-28 01:09] bluebill1049 commented on #36
may i know which version?

[2020-04-28 01:12] ururk commented on #36
3.4.1

[2020-04-28 01:15] ururk commented on #36
I'm not sure it's create-react app's fault - in the dist folder for little-state-machine, index.js, line 425-429:

[code]

I'm not as well-versed on the build/bundling side of things, but it looks to me like require will always be called when run in-browser.

[2020-04-28 01:19] bluebill1049 commented on #36
looks like that's a bug at little state machine.

[2020-04-28 01:20] ururk commented on #36
Yep - sorry if I wasn't clear enough!

[2020-04-28 01:21] bluebill1049 commented on #36
nah all good, i think the reason little state machine did that because of SSR: https://github.com/mac-s-g/react-json-view/issues/121

[2020-04-28 01:34] bluebill1049 commented on #36
i may have to switch to another lib...

[2020-04-28 01:59] bluebill1049 commented on #36
can you try this version: `3.0.0-beta.1`

[2020-04-28 02:02] ururk commented on #36
Trying it out - need to do a few tests.

[2020-04-28 02:04] bluebill1049 commented on #36
core codebase is not changed @ururk only that dev tool with json view.

[2020-04-28 02:29] ururk commented on #36
I know - just wanted to try running it locally to see the new tree view, and build my app to see if it included the new library (`react-json-tree`).

It now includes the new library, although it is smaller in size.

[2020-04-28 02:30] bluebill1049 commented on #36
sounds good to me :) so it's still in the prod build? 🤔

[2020-04-28 02:31] ururk commented on #36
Yes - still in prod build. I even tried removing the import dev and `{process.env.NODE_ENV !== 'production' && <DevTool />}`.

[2020-04-28 02:40] bluebill1049 commented on #36
can i see a snapshot of the build result?

[2020-04-28 02:43] ururk commented on #36
<img width="1267" alt="image" src="https://user-images.githubusercontent.com/137989/80441203-69596080-88d8-11ea-98ae-94ff3337acbe.png">

[2020-04-28 02:49] bluebill1049 commented on #36
looks like this one is CRA related? https://github.com/facebook/create-react-app/issues/2748

[2020-04-28 02:50] bluebill1049 commented on #36
Here is the `index.ts` file

[code]

[2020-04-28 03:04] ururk commented on #36
It looks likely to be a CRA/webpack config issue.

I'm not sure if this helps, but at the top of the beta `dist/index.js` file for little-state-machine, it gets included like so:

[code]

I removed the reference to `JSONTree` inside of `DevToolStateTree`, and it still included the library, so at this point CRA/webpack must not be detecting that `JSONTree` is never referenced.

[2020-04-28 03:10] bluebill1049 commented on #36
Thanks for helping @ururk

i have sent a StackOverflow question around this as well: https://stackoverflow.com/questions/61471907/export-module-with-node-env-with-ts

[2020-04-28 03:14] ururk commented on #36
Thanks! FYI - it is using `index.es.js` - not `index.js` from the dist folder.

I did a quick test and commented out the `createElement` calls in `DevToolStateTree` and it still included `react-json-tree`, so this feels like a webpack/CRA bug like you suspected.

[2020-04-28 03:27] bluebill1049 commented on #36
Yea, and it's difficult with TS as well, it probably doesn't support dynamic export. I will publish v3 anyhow later tonight, it's better than what we got right.

[2020-04-28 03:33] ururk commented on #36
Yep! With the new library, I noticed you cannot scroll the tree when it is expanded past the browser window, can't recall now what the old behavior was, and if it is my app or not :P

[2020-04-28 03:47] bluebill1049 commented on #36
@ururk i will fix that :)

[2020-05-05 16:58] D1plo1d commented on #36
I'm also seeing react-hook-form in my parcel 2 builds. Am I right in understanding that this is fixed on the master branch? Also little-state-machine is showing as 16.01KB?

[code]

[2020-05-05 22:37] bluebill1049 commented on #36
I think i know the fix now, i will sort out in the next couple days.

[2020-05-05 23:23] bluebill1049 commented on #36
i will have to move dev tool out from the main repo.

[2020-05-06 07:12] #36 closed

[2020-05-09 01:04] #28 closed

[2020-05-12 18:09] ismamz opened #38 "Cannot read 'data' when use log middleware"
Hi! When a log middleware is adding, the `data` property of `state` object is `undefined`.

[code]

Here is a fork from [React Hook Form - Wizard Form sandbox](https://codesandbox.io/s/form-wizard-pages-kkg7m):

https://codesandbox.io/s/react-hook-form-wizard-form-whzkb?file=/src/index.js

Maybe it's related to: #35

[2020-05-14 11:29] erwagasore commented on #15
@bluebill1049 this is the same issue I am facing right  now. Any idea on how it  was solved?
Thank you

![LSM-middlewares](https://user-images.githubusercontent.com/1137112/70106094-79a14280-168e-11ea-9735-792ac01073a3.gif)
@bluebill1049 any clues why the store disappears/devtools doesn't show the store?

_Originally posted by @svict4 in https://github.com/bluebill1049/little-state-machine/issues/

[2020-05-18 12:26] #38 closed

[2020-05-18 16:38] pom421 opened #39 "DevTools problem in SSR"
Hello,

I use LSM in Next.js and the `DevTool` component doesn't seem to work correctly.

Here is a sandbox: https://codesandbox.io/s/bug-next-littlestatemachine-f4cwq

The sandbox is working online, but when I download it and make `yarn` and `yarn dev`, you will normally see the problem.

The error log is

[code]

This is a server side routing problem only, because if I comment the lines mentionn

[2020-05-18 17:03] pom421 commented on #39
I troubleshoot a step further.

After having installed `next-transpile-modules`, I have the DevTools which seems to compile.

My next.config.js is :
[code]

Now I have another error

[code]
It seems fair to not have window in server environement.

So DevTools doesn't seem to work in SSR environement.
It's too bad, because after the first load, everything woking in client side essentially, DevTool

[2020-05-18 23:37] bluebill1049 commented on #39
hmmm we should make it work for SSR, I will take a look at it.

[2020-05-18 23:37] bluebill1049 commented on #39
is this caused by devtool or LSM?

[2020-05-19 08:03] pom421 commented on #39
Only DevTool, LSM doesn't make an error.

[2020-05-19 08:06] bluebill1049 commented on #39
oh i see.

[2020-05-25 16:24] erickbelfy opened #40 "Does it work with IE 11 ?"
Recently i tried to make it work with old browsers but i couldn't make it.

[2020-05-25 22:40] bluebill1049 commented on #40
I think you will need polyfills, can you share the error log?

[2020-05-25 23:59] erickbelfy commented on #40
Indeed, IE11 doens't have support for [Object.entries()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries) it is possible to add some documentation section regarding polyfills? Unfortunatelly the product that i am working on has support for IE 11 :( .

[2020-05-26 00:04] bluebill1049 commented on #40
[code]

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries

can you try if this fix the issue?

[2020-05-26 00:05] erickbelfy commented on #40
absolutelly, is there some guidelines for me to test and provide PR's in the project?

[2020-05-26 00:09] bluebill1049 commented on #40
We use at the work, but we have all the polyfill for shitty IE11. perhaps we can have a new section under Readme info about some of the polyfill that you will need.

[2020-05-26 00:17] erickbelfy commented on #40
I will do a quick smoke test here with the polyfill just to confirm that it is working properly, i will add the docs after that.

[2020-05-26 00:26] bluebill1049 commented on #40
Thanks @erickbelfy

[2020-05-26 00:36] erickbelfy commented on #40
Something that i noticed is that the package is compressed as es. I guess that is not IE11 compatible, look:

[code]

[2020-05-26 00:38] bluebill1049 commented on #40
hmmm may have to build an IE version, just like RHF...

[2020-05-26 01:15] erickbelfy commented on #40
I am providing some changes in the tsconfig.json file, i will push a PR so we can review it together.

[2020-05-26 01:18] bluebill1049 commented on #40
you want to take a look RHF? we can have ie 11 config, so it doesn't impact those users who do not support IE 11.

[2020-05-26 01:35] erickbelfy commented on #40
sure, i will take a look and see the implementation done there

[2020-05-26 03:22] erickbelfy commented on #40
#41 this PR provides support for IE11

[2020-05-26 03:23] erickbelfy commented on #40
I don't know how to tag a PR properly hahaha, so sorry.

[2020-05-26 03:25] erickbelfy commented on #40
The above PR should handle the configuration files also the documetation for browser compatibility, let me know what do you think

[2020-05-26 04:22] bluebill1049 commented on #40
awesome! thanks heaps @erickbelfy will get a beta version tonight.

[2020-05-26 10:34] erickbelfy commented on #40
Glad to help the project!

[2020-05-26 10:46] bluebill1049 commented on #40
can you please test out this version: `little-state-machine@3.1.0-beta.1`?

[2020-05-26 11:57] erickbelfy commented on #40
The version is not available, at least for me look:

<img width="659" alt="Screen Shot 2020-05-26 at 7 56 51 AM" src="https://user-images.githubusercontent.com/1584725/82898009-8ceae780-9f26-11ea-89ab-390a8fcf213f.png">

[2020-05-26 12:05] bluebill1049 commented on #40
try again, it should be there now: https://bundlephobia.com/result?p=little-state-machine@3.1.0-beta.1

[2020-05-26 12:12] erickbelfy commented on #40
I tested here and i noticed that if i import something like
`import {createStore} from 'little-state-management' ` it says that *Casing of little-state-machine does not match the underlying filesystem.*

[2020-05-26 12:22] bluebill1049 commented on #40
works here: https://codesandbox.io/s/lrz5wloklm

[2020-05-26 12:24] erickbelfy commented on #40
Perfect, if it works in code sandbox, i probably miss something locally. i guess ti's all good!

[2020-05-26 12:29] bluebill1049 commented on #40
can you please do a double-check with IE11? I don't have a PC at home otherwise i would:

`import {createStore} from 'little-state-management/dist/little-state-machine.ie11'`

[2020-05-26 12:39] erickbelfy commented on #40
it seems to be working here: https://codesandbox.io/s/bold-glade-kprj6?file=/src/App.js

[2020-05-26 12:43] bluebill1049 commented on #40
oh cool as long as it worked on IE11 we are good to go! closing now will publish it tmr morning.

[2020-05-26 12:43] #40 closed

[2020-06-10 05:40] kevinsproles opened #42 "Read state onSubmit"
I expect that after action(data) the state would be updated. But it remains the previous state. How do I access the updated state?

[code]

This is invoked using RHF:
``` <form onSubmit={handleSubmit(onSubmit)}> ```

[2020-06-10 05:53] bluebill1049 commented on #42
provide a codesandbox for your issue, it should be on the next render after global state gets updated.

[2020-07-09 09:38] dipiash opened #45 "Error on SSR projects with actions execution"
Now I see that source code in tag v3.0.2 (https://github.com/bluebill1049/little-state-machine/releases/tag/v3.0.2), doesn't contain changes for middleware.

In archive:
[code]
and when I execute action on Server Side I have an error:
[code]

[2020-07-09 09:40] bluebill1049 commented on #45
you happy to submit a PR on this?

[2020-07-09 09:41] dipiash commented on #45
Yes I can

[2020-07-09 09:52] dipiash commented on #45
Can you publish new version?

[2020-07-09 09:52] bluebill1049 commented on #45
done.

[2020-07-09 09:52] #45 closed

[2020-07-18 16:52] ptim commented on #42
Really appreciating all the examples 👍

@kevinsproles Here's the where the `useEffect` would go in the example CSB from the docs for [WizardFormFunnel](https://react-hook-form.com/advanced-usage/#WizardFormFunnel):
https://codesandbox.io/s/form-wizard-pages-kkg7m?file=/src/Result.js:153-204

Something like:

[code]

[2020-07-22 20:30] happyfloat opened #48 "AsyncStorage doesn't work with react-native"
I don't see how this should currently work, since AsyncStorage is async.... ?

At least I don't know how to make it work in my App. It doesn't restore / or save the data.

Any hints would be helpful. Thank you ❤️

[code]

[2020-07-23 09:14] happyfloat commented on #42
I don't like using `useEffect` for an effect, which should be triggered by a user and not some combination of useEffect dependencies. It will not work correctly... it will either only work once, or it will unexpectedly post to the backend multiple times

[2020-07-23 09:19] bluebill1049 commented on #48
hey take a look this issue: https://github.com/bluebill1049/little-state-machine/issues/23

[2020-07-23 09:20] bluebill1049 commented on #48
https://github.com/bluebill1049/little-state-machine/releases/tag/v2.12.0

[2020-07-23 10:00] happyfloat commented on #48
Thanks, I already looked into that. It's not working like that. My formData works fine in the form, it's just not persisted or restored correctly. How do you handle the async nature of the AsyncStorage in your code?

[2020-07-23 10:26] bluebill1049 commented on #48
if data arrived async, just use `reset` API at useEffect to reset the form with defaultValues.

[2020-07-23 11:15] happyfloat commented on #48
The state is always empty after I refresh the App.

[2020-07-23 11:20] happyfloat commented on #48
Is this the correct place in your code, where the data should be retrieved from the store?
https://github.com/bluebill1049/little-state-machine/blob/33fd69eb6a37f3c37d5d097e09d163616be2f613/src/logic/getBrowserStoreData.ts

If yes, it can not work, because it is not asynchronous. `getItem` will return a promise.

[2020-07-23 11:42] bluebill1049 commented on #48
you want to send a PR just turn it into a async await?

[2020-07-23 12:00] happyfloat commented on #48
I don't think it's as easy as that. We would need to refactor almost everything to make it asynchronously? It would also be a breaking change, not sure if it fits this library then :/.

Guess I need to switch back to redux for now. Thanks for your quick reply!

[2020-07-23 12:14] bluebill1049 commented on #48
can you provide more detail? actually i will give this a try with RN this weekend, last time another user confirmed its working so i moved on, you can move on with redux, i will sort out to make sure this work for RN, this should be very simple task.

[2020-07-23 12:25] happyfloat commented on #48
I can not just make this one function async? This functions is also used in other places, which all would need to await the result of it then, which itself would require it to be async. Unfortunately I didn't see an easy way out here.

[2020-07-23 12:26] bluebill1049 commented on #48
That's fine, pretty easy stuff, I will sort out over the weekend: https://reactnative.dev/docs/asyncstorage.html

[2020-07-24 04:57] bluebill1049 commented on #48
`little-state-machine@3.1.0-beta.2`

[2020-07-24 09:28] happyfloat commented on #48
Wow, that was quick... I couldn't count on that. I already switched my green-field project to React's new [recoil library](https://recoiljs.org/). But the react-native support is also not really there yet (only with a patch)... I will see how it is going and if necessary switch back again.

The react world is moving way to fast... for my API cache/state I'm going with [react-query](https://react-q

[2020-07-24 09:42] bluebill1049 commented on #48
sound good to me! thanks.

[2020-07-24 20:04] happyfloat commented on #48
Was not able to do it today, but I will definitely try it on Monday then, sorry for that!

[2020-07-24 23:29] bluebill1049 commented on #48
no worries at all, thanks for helping. Just want to make sure it will work for others before the merge and publish it.

[2020-07-26 11:08] GliderCodes opened #50 "Refresh to deleted stored values?"
Is there a way to delete stored values to get removed upon refreshing?
here's the codesandbox for it.
https://codesandbox.io/s/react-hook-form-wizard-form-complete-w32u0?

[2020-07-26 11:18] bluebill1049 commented on #50
take a look this issue: https://github.com/bluebill1049/little-state-machine/issues/28

[2020-07-28 05:59] happyfloat commented on #48
It works very well now 👍

[2020-07-28 06:02] bluebill1049 commented on #48
oh cool! thanks for the testing.

[2020-07-28 06:03] #48 closed

[2020-08-04 14:46] kenphil opened #53 "how to use persist state in react-native"
import AsyncStorage from '@react-native-community/async-storage'
import {StateMachineProvider, createStore, setStorageType} from 'little-state-machine'

setStorageType(AsyncStorage)
createStore(InitStore, {name: 'xxx'})

const App = () => {
  return (
    <StateMachineProvider>
        ...
    </StateMachineProvider>
  )
}

is this correct?
when i shake & reload the app, the store's gone

[2020-08-05 00:53] bluebill1049 commented on #53
I have removed React Native for now, until I have a good solution for this.It's achievable but i need to build another path for async store read because async-storage is async.

[2020-08-26 05:40] #50 closed

[2020-10-01 21:44] VinLucero opened #56 "No documentation on how to "reset" via window.STATE_MACHINE_RESET in production outside dev tools / environment"
Could you please describe how to achieve the "reset" / window.STATE_MACHINE_RESET functionality upon form completion in production?

I would like to allow a new user to fill out the registration form after another user has already completed it.

[2020-10-01 22:41] bluebill1049 commented on #56
you should create an `action` and return your empty state.

[2020-10-02 00:01] VinLucero commented on #56
Do you by chance have an example of this?

I can’t seem to find any on GitHub or Stackoverflow.

Thanks!

On Thu, Oct 1, 2020 at 3:41 PM Bill <notifications@github.com> wrote:

[2020-10-02 09:11] ilicmarko commented on #56
As Bill said. Inside an action, let's call it reset return an empty object `{}`.

[code]

Because of TypeScript you must pass something. Calling `action()` will not pass TS lint, but if you don't use TS you can do it.

[2020-10-02 09:17] bluebill1049 commented on #56
Thanks @ilicmarko for helping ❤️

[2020-10-02 09:27] ilicmarko commented on #42
Well, I am dealing with the same exact problem. I have a 3 step Yes/No form, at the end of step three I would like to send the data.

Using the `useEffect` hook won't work because I will be called when the component renders. Therefore, it will send the request on render.

[2020-10-05 06:11] #56 closed

[2020-10-05 14:59] MattL75 opened #57 "Method to work around disabled cookies in browser"
Hi! We are trying to make LSM work with disabled cookies in the browser. This disables localStorage and sessionStorage in most browsers. This makes even trying to access window.sessionStorage return an access denied exception.

Our solution is to call setStorageType and save to app memory if sessionStorage is disabled.
[code]

Now normally this should work, but there appears to be a line in the LS

[2020-10-06 12:10] MattL75 commented on #57
Added a PR with the implementation that I think works best. @bluebill1049 let me know if this works for you or if you want changes :)

[2020-10-08 21:15] #57 closed

[2020-10-09 02:36] svict4 opened #59 "using multiple actions"
Hey dumb question as I seemingly can't read the type properly

if I set up multiple actions like so:

[code]

how do I send an update to only one of the actions? it's not this:

[code]

[2020-10-09 02:39] bluebill1049 commented on #59
hey @svict4, is this what you after?

[code]

[2020-10-09 02:43] svict4 commented on #59
Thank you. Am a certified idiot :)

[2020-10-09 02:43] #59 closed

[2020-10-09 02:45] bluebill1049 commented on #59
nah, you are not ❤️ wondering if you have received my stickers?

[2020-10-09 02:46] svict4 commented on #59
Oh yes I have! Will post a pic to Twitter 🙏

[2020-10-09 02:48] bluebill1049 commented on #59
You don't have to post on twitter, I am just double check if you receive them. (happy to send again if not received) ❤️

[2020-10-09 17:32] MuhammadJamaluddin opened #60 "Storage option"
What about adding a configuration option to choose between `localStorage` & `sessionStorage`?

[2020-10-09 22:12] bluebill1049 commented on #60
try this following:
`setStorageType(widnow.localStorage)`

[2020-10-15 21:53] MuhammadJamaluddin commented on #60
@bluebill1049  `setStorageType`? I am using React not React Native...

[2020-10-15 22:10] MuhammadJamaluddin commented on #60
Yeah, it works.
Thanks, @bluebill1049 ... I really appreciate it

[2020-10-15 22:10] #60 closed

[2020-10-15 22:13] DarkSouls101 commented on #60
No worries 😉

Cheers
Bill

[2020-11-12 07:15] #53 closed

[2020-11-16 21:43] ssuvorov opened #62 "Async action support [Question]"
Hey,
If I replace the action here https://codesandbox.io/s/wild-dawn-ud8bq?file=/src/yourDetailsAction.ts
with an async fn it doesn't work. Async is not supported, right? Any plans for future releases?
e.g.
[code]

[2020-11-16 21:46] bluebill1049 commented on #62
I will try to get it to work under V4. 👍 still under construction.

[2020-11-17 09:34] bluebill1049 commented on #62
hey, @ssuvorov did some quick investigation, I think it's easier to keep async function as a wrapper and update state syn.

[2020-11-17 12:21] #62 closed

[2021-01-05 12:40] lucastrvsn commented on #60
Sorry to open this again, but can I change to storage to `indexeddb` or similar? I need to storage some images and `localStorage` and `sessionStorage` has smaller storage to doing this.

[2021-01-05 21:23] bluebill1049 commented on #60
not supporting indexdb at the momoment.

[2021-01-10 19:53] Pilote-devops commented on #42
we observe the same issue. In DevTool the global state is updated but onSubmit function still retreive the previous one. Is there any resolution ?

[2021-01-11 14:35] ssuvorov commented on #42
Also agree. It has to be 1 submit function
[code]

As an idea, maybe it can be a callback? `action(values, (state) => { save(state) })`.

[2021-01-12 16:13] pitops opened #67 "Way to use this with multiple stores and type safety"
Is there any way to create multiple stores while ensuring state type safety?

As far as I see you need to define a global definition file that corresponds to globalstate but i want to have several small stores instead.

PS: Thanks for creating this

[2021-01-12 20:39] travisboss opened #68 "action(data) is not a function"
https://codesandbox.io/s/react-hook-form-wizard-form-13yud?file=/src/Step1.js

Per the example code sandbox the `action(data)` line is giving the error above, I am trying to build off of this example, but unsure how to fix this error?

[2021-01-12 20:41] travisboss commented on #68
wrong place to post

[2021-01-12 20:41] #68 closed

[2021-01-12 22:00] bluebill1049 commented on #67
at the moment, we only support a single store. 👍

[2021-01-13 06:30] jvalle-traxion opened #69 "Can't use it on react native"
I've been trying to` setStorageType(AsyncStorage)` in react native but it does not work. I've checked the index and it seems `setStorageType` isn't provided. Is there support for react native at the moment?

[2021-01-13 06:49] bluebill1049 commented on #69
we don't support react native right now.

[2021-01-16 15:30] darrenbarklie opened #70 "window.STATE_MACHINE_RESET is not a function"
Hey Bill & team.  Attempting to use the RESET GUI button from LSM renders the following error:

![image](https://user-images.githubusercontent.com/3026261/104815907-8d1a5900-580f-11eb-87e7-14e55c8d823a.png)

Forces a reload, with the state persisting.

    "little-state-machine": "^4.0.0",
    "little-state-machine-devtools": "^1.0.0",

[2021-01-16 15:44] darrenbarklie commented on #70
If anyone else encounters this, you can delete the browser Sessions Storage LSM object manually.

[2021-01-18 23:13] raffibesik commented on #42
I've encountered this issue as well but I believe I have figured out a work around though by simply using the Object.assign() function to the current state with the data from the current step/page/component.
`
 const {actions, state} = useStateMachine({updateAction})
 const onSubmit = async (data) => {
    actions.updateAction(data)
    Object.assign(state.yourDetails, data);
    console.log(state

[2021-01-29 21:29] D1plo1d opened #71 "Disabling cookies in Chrome causes window.sessionStorage lookup to error"
It looks like the sessionStorage lookup needs to be wrapped in a try catch to allow for Chrome users with cookies disabled:

[code]

[2021-01-29 21:43] D1plo1d commented on #71
Submitted a PR at #72

[2021-01-30 08:49] #71 closed

[2021-01-30 09:06] github-actions[bot] opened #74 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-01-30 09:33] #74 closed

[2021-01-30 09:33] #70 closed

[2021-01-30 09:33] #67 closed

[2021-01-30 09:34] #69 closed

[2021-02-03 03:43] sshquack opened #77 "Typescript custom GlobalState type is not detected"
## Issue

Following the example at https://github.com/bluebill1049/little-state-machine#%EF%B8%8F-type-safety-ts does not override the `GlobalState`

Steps to repro:
1. Created custom typings file in `custom-types/global.d.ts`
2. Added custom typings file to the `tsconfig.json` using `typedRoots: ['./custom-typings']`
3. Added the `GlobalState` declaration

[code]
4. Typescript throws on action ha

[2021-02-03 03:46] bluebill1049 commented on #77
want to take a look at this example: https://codesandbox.io/s/typescript-forked-xs30h

[2021-02-03 03:58] sshquack commented on #77
@bluebill1049 Thanks for the pointer. Moving the global.d.ts inside the src directory fixed the issue.

[2021-02-03 03:58] sshquack commented on #77
@bluebill1049 Also thank you for creating amazing libraries like LSM and RHF. Love the quality of documentation, examples, and your attention to detail! ❤️ 🙏

[2021-02-03 03:58] #77 closed

[2021-02-03 04:00] bluebill1049 commented on #77
Thanks, @sshquack for the kind words! my pleasure to help!

[2021-02-04 01:25] nathanaelphilip opened #78 "Use with NextJS"
Is there a way to hydrate things on the SSR? or should I just delay using components that require state?

[2021-02-04 02:47] bluebill1049 commented on #78
at the moment this lib is only focused on client-side.

[2021-02-24 15:12] ciganandrea opened #81 "Middle-wares could have access to more than just the state"
## Current

Middle-wares receive the state just updated by the action.

## Idea

Middle-wares could also receive:

1. The action name
2. The payload that was provided to the action

### Example

With state, action name and payload, a middleware could do something like this:

[code]

[2021-03-18 11:20] #78 closed

[2021-03-18 11:20] #81 closed

[2021-06-04 13:25] rpk-red opened #87 "Actions always trigger useEffect when in dependencies"
I have useEffects in my codebase that have little-state-machine actions as dependencies, everything worked fine until I update little-state-machine from version `"3.1.2"` to `4.1.0`.  Now Actions call every time useEffect and re-render my components.
Also tried with TS demo sample from your docs, only added this effect :
`  useEffect(() => {
     console.log("called every time");
     actions.upda

[2021-06-04 13:28] bluebill1049 commented on #87
I don't think it's the correct behaviour: https://codesandbox.io/s/little-state-machine-demo-forked-90vmo?file=/src/form.js

[2021-06-04 13:29] #42 closed

[2021-06-05 08:27] rpk-red commented on #87
You have to call some action inside useEffect also. For example:
`actions.updateFirstLastName(...);`

[2021-06-05 08:53] bluebill1049 commented on #87
Did u my codesandbox?

[2021-06-05 09:55] bluebill1049 commented on #87
thanks, should be fixed in the next patch.

[2021-06-05 09:55] #87 closed

[2021-06-05 11:18] rpk-red commented on #87
@bluebill1049 can you tell me when will next patch be released? Or if you can tell me what is highest package version that has no such bag?

[2021-06-05 11:27] bluebill1049 commented on #87
can you try with the latest?

[2021-06-05 13:32] rpk-red commented on #87
@bluebill1049 I updated to version 4.1.1 and it still has the same issue.

[2021-06-05 23:46] bluebill1049 commented on #87
should fixed with 4.1.2 https://codesandbox.io/s/little-state-machine-demo-forked-90vmo?file=/src/form.js:556-609

[2021-06-06 16:53] rpk-red commented on #87
It works now! Thank you for fast response. :)

[2021-06-15 19:22] AuthorProxy opened #90 "Specify the type of state on hook"
Make possible to create multiple stateMachines without creating GlobalState type, just infer it from updateAction first argument, or pass as generic to useStateMachine

[2021-06-15 22:50] bluebill1049 commented on #90
<img width="984" alt="Screen Shot 2021-06-16 at 8 50 00 am" src="https://user-images.githubusercontent.com/10513364/122133328-d682d900-ce7f-11eb-8aeb-f6b4fa043ff2.png">

take a look at this section above.

[2021-06-15 22:50] #90 closed

[2021-06-16 13:24] AuthorProxy commented on #90
@bluebill1049 I want to use it like `useStateMachine<CustomPageState>` and use it on different pages with different types, you provide me to define one global state.

[2021-06-17 17:16] rpk-red commented on #67
@bluebill1049 is this still the case regarding multiple stores?

[2021-06-18 14:36] thebiltheory commented on #69
@jvalle-traxion `Session Storage` and `Local Storage`, which LST is based on, are [Web API's](https://developer.mozilla.org/en-US/docs/Web/API).
Hence not compatible with mobile devices.

Have a look at this: https://github.com/web-ridge/react-ridge-state

[2021-06-18 17:53] Bessonov commented on #60
but, well, I think an indexeddb adapter should be easy to create:

[code]

[2021-06-28 21:23] JSsantana opened #91 "Global State Management or Local State Management"
I read the docs but I didn't understand if I can manage a global state dispatching actions like Redux.

With this lib can I control Global State, access it and dispatch actions on any component or is just for local state management?

[2021-06-28 22:53] bluebill1049 commented on #91
Yes it's global :)

[2021-06-28 22:53] #91 closed

[2021-07-13 10:04] ilicmarko opened #92 "Way to test the store (E2E/Cypress)"
Is there an out of the box solution for testing the store out of the box?

A "common" practice for Redux is to attach the store to window and use it inside Cypress, example:

[code]

But in the case of little state machine `createStore` function doesn't return an instance that I can "hook" onto.

I guess I can check the storage, but that is a lot of work/logic inside a test, I would like to avoid

[2021-07-13 10:46] bluebill1049 commented on #92
You can access your session storage.

[2021-07-14 07:35] ilicmarko commented on #92
I know, but that is async inside of Cypress, plus it required parsing the JSON. It adds complexity to the test that would be great if it can be avoided. Is there an option to expose the store instance in the future or some other way?

[2021-07-14 07:44] bluebill1049 commented on #92
not really.

[2021-07-28 17:09] Dujota opened #93 "crashes, when adding dev tool"
So as soon as i import the dev tool, app crashed with the below message. (state machine works just fine)
I am using a Next.js app, any toughts or suggestions would really help :)

[code]

the problem is with the import statement itself for some reason

`import { DevTool } from 'little-state-machine-devtools';`

[2021-07-28 23:16] bluebill1049 commented on #93
Can u reproduce this in a codesandbox or repo?

[2021-07-29 14:32] Dujota commented on #93
@bluebill1049 i was able to fix the issue, it turns out, we were wrapping the statemachine inside a component which was using a provider/context (another npm package),

i had to move statemachine provider to the top of the tree in order for it no work properly with dev tools

[2021-07-29 14:33] #93 closed

[2021-08-22 17:37] KiwiKilian opened #96 "Possibility to separate state to prevent rerendering?"
I guess this is more a question or feature request: I would like to "subscribe" only to a part of the state to prevent unnecessary rerenders. For example `ComponentA` may only use `fieldA` of my global state. But currently if `fieldB` is changed also `ComponentA` is rerendered. Is there already any possibility to prevent this or could this be a future feature?

See [this csb](https://codesandbox.i

[2021-08-23 00:25] wicka-aus opened #97 "NextJS: Warning: Text content did not match. Server: "..." Client: "...""
Hi there

How do I resolve this issue in NextJS with LSM?

Example in NJ:

[code]

[2021-08-23 01:09] bluebill1049 commented on #97
make sure your component is ssr: false by using dynamic import, LSM is client side only.

[2021-08-23 01:09] #97 closed

[2021-08-23 01:10] bluebill1049 commented on #96
thanks for the suggestion, this lib is supposed to really simple and light. if you need to have a per component subscription model, you can consider lib such as zusland or jotai etc.

[2021-08-23 01:10] #96 closed

[2021-08-23 01:10] #92 closed

[2021-09-06 12:43] raksrivastava opened #99 "How to implement array of objects."
I have a list of questions with answer option yes and no. If I click on Yes , then it's value should add on store and when I click on No option, then it's value should remove from store. I want to manage by array.

[2021-09-06 12:50] bluebill1049 commented on #99
you manage your array at your app-level and update the store, LSM doesn't handle the logic you are described above, it only take care the final result and update the global state.

[2021-09-06 12:50] #99 closed

[2021-10-15 18:43] sahanaravi opened #102 "When Cookies are disabled, actions.updateAction({ name: 'bill' })} throws an error- TypeError: o.storageType.setItem is not a function. The website handles Cookie Disabled error gracefully by throwing a message, but this breaks the App. How can we avoid that?"

[2021-10-15 21:19] bluebill1049 commented on #102
we don't use cookie, check for session storage at your app level and indicate user to the user when session stage is disabled or even disable session storage usage in little state machine

[2021-10-15 21:19] #102 closed, assigned to nobody

[2021-12-20 22:24] jfreedman-eagent opened #110 "Does `useStateMachine` trigger re-renders when an update occurs in another component tree?"
In my app, I want to use Little State Machine to share state between two separate component trees. However, when I tried to do so, one tree failed to update after an action was dispatched in the other. Is this expected behavior?

[2021-12-20 22:34] bluebill1049 commented on #110
not expected, can you share a simple codesandbox.

[2021-12-21 01:56] jfreedman-eagent commented on #110
Here's the [Code Sandbox](https://codesandbox.io/s/romantic-browser-j7l08?file=/src/index.js). I might not have explained it super well. I have two separate `StateMachineProvider`s that I'd like to use the same state (in my actual app, it currently isn't feasible to combine them to use a single provider). With this setup, I expected both component trees to update at the same time, but only the tre

[2021-12-21 04:56] bluebill1049 commented on #110
Not possible with two providers at the moment.

[2021-12-21 10:44] jfreedman-eagent commented on #110
Gotcha, just wanted to check if it was supported or not. Thanks for the quick response!

[2021-12-21 10:52] bluebill1049 commented on #110
np 👍

[2021-12-21 10:52] #110 closed

[2022-02-02 16:52] Dujota opened #111 "unable to create mock provider for Jest+React testing Lib"
So i am trying to setup up testing for my project and all works well except when i try to create a mock/test provider for our test suite.

*(nothing too fancy just Next.js 11 + Jest + RTL)*

The main issue is that i want to move away from mocking the return value of useStateMachine in favor of just letting the lib do its job and i test the result of the render.

This is also hindering my ability t

[2022-02-02 22:49] JamesWong1999 commented on #111
[code]

could you do something like above?

[2022-02-02 23:25] Dujota commented on #111
I could try to setup a provider on each test, but the idea is to automate the boilerplate portion before each test. Works fine for all others except LSM. There's something i am missing here.

[2022-02-02 23:52] bluebill1049 commented on #111
each test probably should have its own provider, what @JamesWong1999 provided is the correct approach.

[2022-02-03 00:21] Dujota commented on #111
So i guess what I am confused about, how does this work for all other providers but not LSM. I can make this work with React.Context since it just accepts a store.

It doesnt even pick up the modules createStore function, so its techinically running on each test startup. (ie creates a new provider for each test case)

[2022-02-03 00:28] bluebill1049 commented on #111
That's more of a testing lib question than LSM, LSM is just leverage on top of React context API.

[2022-02-03 00:53] Dujota commented on #111
i feel like this should work, it is pretty standard boilerplate for example:

[code]

The redux example is not pretty much in line with what I was trying to do

I am going to try to refactor the _app.js providers into one `<AllProviders > {children} </AllProviders>` component and see if that can circumvent this issue

[2022-02-23 14:57] NealWilxite opened #115 "unable to clear store"
I am using lsm with react-router for a wizard on a client's site and I need to reset the store when a user returns to the wizard landing page. I found this solution in stack overflow (https://stackoverflow.com/questions/64822032/react-little-state-machine-clear-data) but I cant get it to work.  I cant show the full application, but from the below can you see anything wrong with what I have done.

[2022-02-24 10:30] bluebill1049 commented on #115
should be able to do easily with a `clearAction` as above. can you share a codesandbox?

[2022-02-24 12:06] NealWilxite commented on #115
the wizard is part of the clients site, so it is a little difficult to extract but i'll give it a try.

[2022-02-26 00:54] NealWilxite commented on #115
I think I fixed the issue. Was peppering my code with state updaters that were conflicting with each other.

[2022-02-26 00:54] #115 closed

[2022-03-30 02:41] MatheusLopesDev99 opened #116 "Help with the LocalStorage and Next.JS"
Hey Guys, i am using the little-state-machine to store some data, but the default of the library is to use sessionStorage.

I am trying to change to localStorage but without success, returns error:

e.setItem is not a function

[code]

[2022-04-18 14:45] keyvannaderi opened #118 "Bf a /:/66"

[2022-04-18 14:46] keyvannaderi commented on #118
Thanks

[2022-04-18 22:29] #118 closed

[2022-04-26 22:20] ripemetrics opened #119 "npm ERR! code ERESOLVE"
Hello I'm receiving an error when trying to install. Any help would be appreciated. Thank you

[code]

[code]

[2022-04-26 22:22] bluebill1049 commented on #116
could you share a codesandbox on the localstorage usage?

[2022-04-26 22:23] #119 closed

[2022-04-26 22:29] bluebill1049 commented on #119
Fixed, thanks for reporting.

[2022-05-09 03:59] vicentematus opened #122 "How to push data to an array state machine"
My idea is to push data to an array with the same form. So everytime i press send, it appends it to the array.

Here is my following state:

[code]

And this is my form (using react-hook-form)

[code]

You can see im just adding this information to the index 0 of the phisiology_logs array. How can i append or push data to the state (data.phisiology_logs[]) object? So everytime i press 'Send' it pu

[2022-05-09 07:27] bluebill1049 commented on #122
Just make an action to push the data into the little state machine

[code]

[2022-05-10 12:27] #122 closed

[2022-05-10 12:27] #116 closed

[2022-05-10 12:27] #111 closed

[2022-05-10 21:13] vicentematus commented on #122
Should i keep the  index [0] or should i change it to work?

Is this okay:
[code]

[2022-06-05 22:43] tuppers360 opened #128 "Code Sample in TS is not working correctly"
When cloning the code sample from Code Sanbox (wild-dawn-ud8bq) you have to submit the form twice for the state to update?

Using:
`import { GlobalState } from 'little-state-machine';
export function updateFirstLastName(
  state: GlobalState,
  payload: {
    firstname: string;
    lastname: string;
  }
) {
  console.log('state before:', state);
  console.log('payload:', payload);
  return {
    .

[2022-06-06 00:03] bluebill1049 commented on #128
which codesandbox?

[2022-06-06 07:47] tuppers360 commented on #128
Sorry it is https://codesandbox.io/s/wild-dawn-ud8bq

[2022-06-06 08:06] bluebill1049 commented on #128
it's working fine for me. after click on submit and refresh the button and the data persist correctly.

[2022-06-08 22:42] #128 closed

[2022-06-09 00:40] joe-oli opened #129 "Reset store to initial value ?"
I am having a hard time implementing reset store to some initial value; I should ask In stackoverflow, but needs specialized knowledge from people familiar with LSM, hence I am here. This would also help others in understanding LSM better.

## the problem
[code]

//do stuff... add more props to state, etc.

//later on, I should be able to RESET the store to its initial value (for example, if I am

[2022-06-09 02:51] bluebill1049 commented on #129
a simple action to reset the store is all you needed, there will be no specific reset function from this lib.

[2022-06-09 02:51] #129 closed

[2022-07-08 19:20] jdozierezell opened #132 "Catching Storage error"
I'm receiving the following error when adding an image that exceeds the quota:

```Uncaught (in promise) DOMException: Failed to execute 'setItem' on 'Storage': Setting the value of '__LSM__' exceeded the quota.```

Is there a way to catch that error and do something with it? Right now I have a loading indicator that activates on click but the indicator is not deactivating on error because I haven

[2022-07-08 23:05] bluebill1049 commented on #132
what are you trying to store in the session storage? there is a hard limit as far as i know.

[2022-07-10 00:27] #132 closed

[2022-09-13 17:18] snax4a commented on #90
I also would like to be able to pass state type as a generic to createStore method or useStateMachine or It would be great if state would be automatically infered.

It would provide us a better developer experience.

[2022-09-19 12:29] skopz356 opened #138 "Error when using with next.js"
First of all thank you for creating this library.
I tried to use this library with next.js a when I enter some data into the state and reload the page. I get error saying `Error: Text content does not match server-rendered HTML.`. I know that I can make the component only client side, but I do not want to. Is there any other option?

Reproduction:
1. Visit https://codesandbox.io/s/nextjs-react-hoo

[2022-09-19 12:49] bluebill1049 commented on #138
thanks for the issue report currently this library is limited to clients only and kept simple and small (<1kb).

[2022-09-19 12:49] #138 closed

[2022-10-14 07:26] fini opened #139 "state not up to date"
Yesterday I had an issue where I updated some state data, and I could see it was updated in the localStorage, but my state variable wasn't updating. I then had to use getState() in my function which worked. I always assumed the state variable would be up to date. Am I missing something?
Code snippets below:
[code]

[2022-10-14 08:04] bluebill1049 commented on #139
`state` update will constantly be refreshed at the next re-render (same as `useState`), getState function is basically accessing the internal state directly which explains why it's working.

[2022-10-14 08:25] fini commented on #139
Thanks for your reply, I am using it to update every change in a React Hook Form on the server, and it seems I am not waiting until next re-render ;) So I will use getState() for this feature then. Thanks for your great work.

[2022-10-14 09:07] bluebill1049 commented on #139
Glad you find `getState` useful. 🙏

[2022-10-14 09:07] #139 closed